.body_wrap {
    background-size: cover;
}

.middle_info_block_wrap {
    position: relative;
    /*z-index: 2;*/
    height: 100%;
    padding: 5% 0;
    overflow: auto;
}


.middle_photo {
    max-width: 50vw;
}


.middle_photo.left {
    /*position: absolute;*/
    left: 0;
    top: 48vh;
    padding: 12.5% 0 0 2.75%;
}

.middle_photo.right {
    /*position: absolute;*/
    padding: 10% 2.75% 0% 0%;
    z-index: 2;
    float: right;
    position: relative;
}

.middle_info_block {
    padding: 2em 5em 2em 2em;
    position: relative;
    background: #ffffff;
    min-height: 45vh;
    min-width: 45vw;
    max-height: 45vh;
    max-width: 45vw;
}

.middle_info_block.right {
    border: 0.15em solid #f2b9bf;
    border-right: 0;
}


.middle_info_block.left {
    border: 0.15em solid #dadee2;
    border-left: 0;
}

.middle_info_block_background {
    position: absolute;
    background: #ffffff;
    top: 5%;
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
}

.middle_info_block_background.right {
    right: 0;
    padding: 2em 0 2em 2em;
}

.middle_info_block_background.left {
    left: 0;
    padding: 2em 2em 2em 0;
}


.middle_info_block_wrap p.robotomedium_font {
    font-family: 'Robotomedium';
    font-size: 1.5em;
    color: #484848;
    margin-bottom: 1.2em;
    font-weight: bold;
    text-align: left;
}

.middle_info_block_wrap p.tt_norms_font {
    font-family: 'TTNorms-Regular';
    font-size: 1em;
    color: #484848;
    margin-bottom: 0.2em;
    line-height: 2em;
}

.middle_info_block_wrap p.more_details_bottom {
    position: absolute;
    font-family: 'TTNorms-Regular';
    font-size: 1.2em;
    color: #f2b9bf;
    bottom: 2em;
    display: flex;
}

.arrow_right {
    color: #f2b9bf;
    display: flex;
    margin: 0 0 0 0.5em;
}

.arrow_right:before {
    border-bottom: 4px dotted #f2b9bf;
    content: '';
    flex: 3;
    display: flex;
    width: 0.8em;
    margin: 0 0.2em 0.55em 0.5em;
