.header {
    background-size: cover;
    /*position: relative;*/
    /*z-index: 2;*/
    /*background-image: url( "/images/HeaderPhoto.png");
    background-repeat: no-repeat;
    background-size:auto;
    background-position-x: 60%;
    background-position-y: 0%;*/

}

.header_wrap {
    position: relative;
    /*z-index: 2;*/
    /*height: 100vh;*/
    padding: 2.75%;
}

/*.module-border-wrap {
    border: 12px solid #ffff00;
    padding: 50px;
}*/

.header_border_wrap_big {
    /*max-width: 250px;*/
    /*padding: 1rem;*/
    position: relative;
    background: radial-gradient(circle, #f2b9bf 60%, #c1bcc4 100%);
    padding: 0.8%;
    /*width: 100%;*/
}

.header_border_wrap_small {
    /*padding: 1rem;*/
    position: relative;
    background: #fffbfb;
    /*padding: 12%;*/
    /*padding: 10vh 10vw 10vh 10vw;*/
    padding: 10.5% 10% 10.5% 10%;
    /*padding: 5%;*/
    border: 5px solid #f2b9bf;
    /*width: 100%;*/
}

.header_big_container {
    /*padding: 1rem;*/
    position: relative;
    background-color: #fffbfb;
    /*z-index: 2;*/
    /*padding: 140px;*/
    padding: 8% 25% 15% 25%;
    /*width: 100%;
    height: 100%;*/
}

.wrap {
    /*max-width: 1140px;*/
    margin: 0 auto;
}

.header_middle {
    /*min-width: 500px;
    min-height: 500px;*/
    /*max-width: 500px;
    max-height: 470px;*/
    position: relative;
    /*justify-content: space-between;*/
    align-items: left;
    padding: 0.8% 32% 0.8% 0%;
    /*padding: 2% 5%;*/
}

.header_photo_wrap {
    /*overflow: hidden;*/
    /*min-width: 500px;
    min-height: 500px;*/
    position: absolute;
    top: 0;
    /*right: 32em;*/
    /*padding: 44px 0px;*/
    /*z-index: 3;*/
    /*width: 100%;*/
    height: auto;
    display: inline-block;
    left: 60%;
    max-width: 532px;
    max-height: 775px;
}

.header_photo {
    max-width: 27vw;
    max-height: 95vh;
    /*position: absolute;*/
    width: 100%;
    height: auto;
    display: block;
    /*top: 0;
    left: 0;
    z-index: 3;*/
}

.header_social_network {
    float: left;
    display: inline-block;
    position: relative;
    z-index: 2;
    margin: 1%;
    width: 100%;
}

.header_social_icon {
    margin: 1% 0% 1% 0.75%;
    position: relative;
    max-height: 2.5vh;
}

.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

p.robotomedium_font {
    font-family: 'Robotomedium';
    font-size: 1.2em;
    color: #484848;
    margin-bottom: 0.2em;
}

p.roboto_font {
    font-family: 'Roboto';
    font-size: 0.95em;
    color: #484848;
    margin-bottom: 0.2em;
    /*margin-left: 13px;*/
}

p.header_social {
    font-size: 1em;
    font-family: "Swis721-Lt-BT";
    color: #484848;
    text-align: left;
    float: left;
    margin: 1% 1% 1% 0.5%;
    /*position: sticky;*/
    /*line-height: 1.4;
    -moz-transform: matrix( 0.88975423135386,0,0,0.89416534621975,0,0);
    -webkit-transform: matrix( 0.88975423135386,0,0,0.89416534621975,0,0);
    -ms-transform: matrix( 0.88975423135386,0,0,0.89416534621975,0,0);
    position: absolute;
    left: 92.435px;
    top: 87.792px;
    z-index: 2;*/
}

p.header_social_bold {
    font-size: 1em;
    font-family: "Swis721-Lt-BT";
    color: #484848;
    text-align: left;
    float: left;
    margin: 1% 0% 1% 1%;
    font-weight: bolder;
    /*position: sticky;*/
    /*line-height: 1.4;
    -moz-transform: matrix( 0.88975423135386,0,0,0.89416534621975,0,0);
    -webkit-transform: matrix( 0.88975423135386,0,0,0.89416534621975,0,0);
    -ms-transform: matrix( 0.88975423135386,0,0,0.89416534621975,0,0);
    position: absolute;
    left: 92.435px;
    top: 87.792px;
    z-index: 2;*/
}


.header h1 {
    color: #edb9c0;
    font-size: 1.6em;
    /*font-weight: 700;*/
    /*line-height: 72px;
    letter-spacing: 0.025em;*/
    width: 100%;
    /*position: relative;*/
    left: 50%;
    top: 50%;
    /*padding: 0px 15px;*/
    box-sizing: border-box;
    /*transform: translate(-50%, -50%);*/
    font-family: 'Robotomedium';
    margin-bottom: 0.5em;
}

.demo_button_wrap {
    position: absolute;
    top: 40%;
    left: 0;
    /*z-index: 3;*/
    display: flex;
    /*width: 15vw;
    height: 10vh;*/
    padding: 2% 2% 2% 2%;
    background-color: #b6bdc5;
    font-family: 'TTNorms-Regular';
    font-size: 0.95em;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #484848
}

    .demo_button_wrap:after {
        content: '';
        background: url("/icons/play.png") no-repeat;
        position: relative;
        width: 20px;
        height: 20px;
        margin-left: 1vw;
    }

.menu_button_wrap {
    position: absolute;
    top: 40%;
    right: 0;
    /*z-index: 3;*/
    /*width: 7.5vw;
    height: 10vh;*/
    background-color: #b6bdc5;
    padding: 2.1% 2% 2.2% 4%;
    /*writing-mode: vertical-rl;*/
}

.menu_button {
    font-family: 'TTNorms-Regular';
    font-size: 0.8em;
    right: 1.6vw;
    bottom: 2vh;
    color: #484848;
    position: relative;
}

.transporate_270 {
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: right top;
    -moz-transform: rotate(270deg);
    -moz-transform-origin: right top;
    -ms-transform: rotate(270deg);
    -ms-transform-origin: right top;
    -o-transform: rotate(270deg);
    -o-transform-origin: right top;
    transform: rotate(270deg);
    transform-origin: right top;
}

.transporate_180 {
    /*-webkit-transform: rotate(180deg);
    -webkit-transform-origin: right top;
    -moz-transform: rotate(180deg);
    -moz-transform-origin: right top;
    -ms-transform: rotate(180deg);
    -ms-transform-origin: right top;
    -o-transform: rotate(180deg);
    -o-transform-origin: right top;
    transform: rotate(180deg);*/
    /*transform-origin: right top;*/
}

/*.menu_button_wrap:before {
    content: '';
    background: url( "/icons/play.png") no-repeat;
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: 1vw;
}*/

.line_wrap {
    position: absolute;
    left: 25%;
}


.fourth_line {
    width: 2vw;
    background-color: #484848;
    /*writing-mode: vertical-rl;*/
    margin: 15% 2% 0% 25%;
    border: none;
}

.third_line {
    width: 1vw;
    background-color: #484848;
    /*writing-mode: vertical-rl;*/
    margin: 15% 2% 0% 75%;
    border: none;
}

.second_line {
    width: 1.5vw;
    background-color: #484848;
    /*writing-mode: vertical-rl;*/
    margin: 15% 2% 0% 50%;
    border: none;
}

.first_line {
    width: 0.5vw;
    background-color: #484848;
    /*writing-mode: vertical-rl;*/
    margin: 0% 2% 15% 100%;
    border: none;
}

.bold_line {
    height: 0.15em;
    /*writing-mode: vertical-rl;*/
}

.thin_line {
    height: 0.1em;
    /*writing-mode: vertical-rl;*/
}